<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">11. ANÁLISIS FINANCIERO</h2>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <table class="full-width table full-height">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p style="text-align: left">
                11.1. Costos operativos ¿Cuáles serán los gastos que generará la
                actividad mensualmente?
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 50%">COSTOS OPERATIVOS</td>
                  <td style="width: 50%" class="border">Negocio</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%" class="text-start">Impuestos</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Impuesto', costoOpImpuesto)"
                      [(ngModel)]="costoOpImpuesto"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alimentación</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('Alimentacion', costoOpAlimentacion)
                      "
                      [(ngModel)]="costoOpAlimentacion"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Luz</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServLuz', costoOpServLuz)"
                      [(ngModel)]="costoOpServLuz"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Agua
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServAgua', costoOpServAgua)"
                      [(ngModel)]="costoOpServAgua"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Gas</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServGas', costoOpServGas)"
                      [(ngModel)]="costoOpServGas"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Telefono/Celular
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServTelf', costoOpServTelf)"
                      [(ngModel)]="costoOpServTelf"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Internet
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServInter', costoOpServInter)"
                      [(ngModel)]="costoOpServInter"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alquiler</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Alquiler', costoOpAlquiler)"
                      [(ngModel)]="costoOpAlquiler"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Transporte</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Transporte', costoOpTransporte)"
                      [(ngModel)]="costoOpTransporte"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Material de Escritorio
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor(
                          'MaterialEscritorio',
                          costoOpMaterialEscritorio
                        )
                      "
                      [(ngModel)]="costoOpMaterialEscritorio"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Pago a Empleados
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('PagoEmpl', costoOpPagoEmpl)"
                      [(ngModel)]="costoOpPagoEmpl"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Promoción</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Promo', costoOpPromo)"
                      [(ngModel)]="costoOpPromo"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Mantenimiento:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="1."
                      (change)="asignarValor('TxtMant1', costoOpTxtMant1)"
                      [(ngModel)]="costoOpTxtMant1"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant1', costoOpMant1)"
                      [(ngModel)]="costoOpMant1"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="2."
                      (change)="asignarValor('TxtMant2', costoOpTxtMant2)"
                      [(ngModel)]="costoOpTxtMant2"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant2', costoOpMant2)"
                      [(ngModel)]="costoOpMant2"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="3."
                      (change)="asignarValor('TxtMant3', costoOpTxtMant3)"
                      [(ngModel)]="costoOpTxtMant3"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant3', costoOpMant3)"
                      [(ngModel)]="costoOpMant3"
                    />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">Vestimenta</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Vestimenta', costoOpVestimenta)"
                      [(ngModel)]="costoOpVestimenta"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Salud</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Salud', costoOpSalud)"
                      [(ngModel)]="costoOpSalud"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Otros Imprevistos:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('TxtOtrosImpr1', costoOpTxtOtrosImpr1)
                      "
                      [(ngModel)]="costoOpTxtOtrosImpr1"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('OtrosImpr1', costoOpOtrosImpr1)"
                      [(ngModel)]="costoOpOtrosImpr1"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('TxtOtrosImpr2', costoOpTxtOtrosImpr2)
                      "
                      [(ngModel)]="costoOpTxtOtrosImpr2"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('OtrosImpr2', costoOpOtrosImpr2)"
                      [(ngModel)]="costoOpOtrosImpr2"
                    />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">TOTAL GASTOS</td>
                  <td style="width: 50%" class="border">
                    {{ costoOpTotalGasto }}
                  </td>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <table class="full-width table full-height">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p class="full-width" style="text-align: left">
                11.2. Margen Bruto
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 75%" class="border">DATOS ANUALES</td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 25%" class="border">VENTAS</td>
                  <td style="width: 25%" class="border">COSTOS</td>
                  <td style="width: 25%" class="border">MARGEN</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">
                    MANUFACTURA / SERVICIOS
                  </td>
                  <td style="width: 25%" class="border">
                    {{ flujoCostosDirAnualVM }}
                  </td>
                  <td style="width: 25%" class="border">
                    {{ flujoCostosDirAnualCPM }}
                  </td>
                  <td style="width: 25%" class="border">
                    {{ flujoCostosDirMubT | percent : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">AGRICOLA</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">PECUARIO</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 25%" class="border">TOTAL</td>
                  <td style="width: 25%" class="border">{{ flujoTV }}</td>
                  <td style="width: 25%" class="border">{{ flujoTC }}</td>
                  <td style="width: 25%" class="border">
                    {{ flujoTM | percent : "1.2-2" }}
                  </td>
                </tr>
              </table>
              <br />
              <p style="text-align: left">11.3. Utilidad</p>
              <p>TABLA DE UTILIDAD</p>
              <table class="full-width">
                <tr>
                  <td style="width: 50%" class="border">
                    (+) INGRESOS TOTALES
                  </td>
                  <td style="width: 50%" class="border">{{ flujoTV }}</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTOS DIRECTOS</td>
                  <td style="width: 50%" class="border">{{ flujoTC }}</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(=) UTILIDAD BRUTA</td>
                  <td style="width: 50%" class="border">{{ flujoUB }}</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTO OPERATIVO</td>
                  <td style="width: 50%" class="border">
                    {{ costoOperativo }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">
                    (=) UTILIDAD OPERATIVA
                  </td>
                  <td style="width: 50%" class="border">
                    {{ utilidadOperativa }}
                  </td>
                </tr>
              </table>
              <br />
              <p>DATOS DEL CREDITO</p>
              <table>
                <tr>
                  <td style="width: 20%">Frecuencia:</td>
                  <td style="width: 15%">
                    <select
                      class="custom-select"
                      [(ngModel)]="flujoFrecuencia1"
                      (change)="asignarFrecuencia(); llenarTabla1Flujo()"
                    >
                      <option value="MENSUAL">MENSUAL</option>
                      <option value="BIMENSUAL">BIMENSUAL</option>
                      <option value="TRIMESTRAL">TRIMESTRAL</option>
                      <option value="CUATRIMESTRAL">CUATRIMESTRAL</option>
                      <option value="SEMESTRAL">SEMESTRAL</option>
                      <option value="ANUAL">ANUAL</option>
                    </select>
                  </td>
                  <td style="width: 15%">Poliza</td>
                  <td style="width: 15%">
                    <input
                      type="text"
                      class="input-container"
                      placeholder="0,395"
                      (change)="calculateDatosCredito()"
                      [(ngModel)]="flujoPoliza"
                    />
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">DATOS DEL CREDITO</td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">Tasa de</td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">Monto:</td>
                  <td style="width: 15%" class="border">
                    <output
                      [(ngModel)]="datosCreditoMonto"
                      (change)="(calculateDatosCredito)"
                    >
                      {{
                        datosCreditoMonto >= 0
                          ? "bs. " + datosCreditoMonto
                          : "(" + datosCreditoMonto * -1 + ")"
                      }}
                    </output>
                  </td>
                  <td style="width: 15%">Plazo (meses)</td>
                  <td style="width: 15%">
                    <input
                      type="number"
                      class="input-container"
                      placeholder="max 84"
                      (change)="calculateDatosCredito(); llenarTabla1Flujo()"
                      [(ngModel)]="flujoPlazoMeses"
                    />
                  </td>
                  <td style="width: 15%">interes:</td>
                  <td style="width: 15%" class="border">
                    {{ flujoTasaInteres | percent : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%">Tipo cuota::</td>
                  <td style="width: 15%">
                    <select
                      class="custom-select"
                      [(ngModel)]="flujoTipoCuotaOpcion"
                      (change)="
                        asignarTipoCuota();
                        calculateDatosCredito();
                        llenarTabla1Flujo()
                      "
                    >
                      <option value="CUOTA FIJA">CUOTA FIJA</option>
                      <option value="CUOTA VARIABLE">CUOTA VARIABLE</option>
                      <option value="PERSONALIZADA">PERSONALIZADA</option>
                    </select>
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <br />
                <tr>
                  <td style="width: 20%">actividad:</td>
                  <td style="width: 15%">
                    <select
                      class="custom-select"
                      [(ngModel)]="flujoActividad"
                      (change)="calculateDatosCredito(); llenarTabla1Flujo()"
                    >
                      <option value="SERVICIOS">SERVICIOS</option>
                      <option value="PRODUCTIVIDAD">PRODUCTIVIDAD</option>
                    </select>
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">CUOTA APROX:</td>
                  <td style="width: 15%">
                    {{
                      (mostrarCuotaProxValue == 0 ? "" : mostrarCuotaProxValue)
                        | number : "1.0-0"
                    }}
                  </td>
                </tr>
                <br />
                <br />
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">12. FLUJO</h2>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize3" rowHeight="40px" class="bg-lightblue">
    <mat-grid-tile [colspan]="1" [rowspan]="3" class="custom-tile">
      <div class="content">
        <br />
        <table style="width: 100%">
          <tr>
            <td style="width: 34%"></td>
            <td style="width: 33%" class="fl text-center">MES</td>
            <td style="width: 33%" class="fl text-center">AÑO</td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Implementación estimada</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border bg-white">
              <input type="number" class="no-margin" />
            </td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Desembolso estimado</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border bg-white">
              <input type="number" class="no-margin" [(ngModel)]="tab2A" (change)="asignarTab2A()"/>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <div class="conten">
          <div class="conteni">
            <table>
              <tr>
                <td style="width: 9%"></td>
                <td style="width: 7%" class="fl">INICIAL</td>
                <td style="width: 7%" class="fl">ENERO</td>
                <td style="width: 7%" class="fl">FEBRERO</td>
                <td style="width: 7%" class="fl">MARZO</td>
                <td style="width: 7%" class="fl">ABRIL</td>
                <td style="width: 7%" class="fl">MAYO</td>
                <td style="width: 7%" class="fl">JUNIO</td>
                <td style="width: 7%" class="fl">JULIO</td>
                <td style="width: 7%" class="fl">AGOSTO</td>
                <td style="width: 7%" class="fl">SEPTIEMBRE</td>
                <td style="width: 7%" class="fl">OCTUBRE</td>
                <td style="width: 7%" class="fl">NOVIEMBRE</td>
                <td style="width: 7%" class="fl">DICIEMBRE</td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Inversiones</td>
                <td style="width: 7%" class="border">{{ totalPI }}</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">SALDO INICIAL</td>
                <td style="width: 7%" class="border">{{ totalPI }}</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSISep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSINov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoSIDiv) }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Ingresos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIEne) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoISep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoINov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoIDiv) }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Costo de Produccion</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCProdEne) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPSep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPNov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoCPDiv) }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Utilidad Bruta</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBEne) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBSep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBNov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUBDiv) }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Costos Fijos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border bg-white bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCostosFijosTb1 }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">
                  UTILIDAD NETA Capacidad de pago
                </td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPagEne) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPSep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPNov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoUNCdPDiv) }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">Cuota</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCEne | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCFeb | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCMar | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCAbr | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCMay | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCJun | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCJul | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCAgo | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCSep | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCOct | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCNov | number : "1.0-0" }}
                </td>
                <td style="width: 7%" class="border bg-white">
                  {{ flujoCDiv | number : "1.0-0" }}
                </td>
              </tr>
              <tr>
                <td style="width: 9%" class="fl">FLUJO ACUMULADO</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAEne) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAFeb) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAMar) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAAbr) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAMay) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAJun) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAJul) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAAgo) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoASep) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoAOct) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoANov) }}
                </td>
                <td style="width: 7%" class="border">
                  {{ formatNumber(flujoADiv) }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="conten">
          <div class="conteni1">
            <br />
            <table>
              <tr>
                <td style="width: 10%"></td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A : ''}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 1 : 1}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 2 : 2}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 3 : 3}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 4 : 4}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 5 : 5}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 6 : 6}}</td>
                <td style="width: 7%" class="fl text-end">{{tab2A? tab2A + 7 : 7}}</td>
              </tr>

              <tr>
                <td style="width: 10%" class="fl">SALDO INICIAL</td>
                <td style="width: 7%" class="border">425.789</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">(4.068)</td>
                <td style="width: 7%" class="border">7992</td>
                <td style="width: 7%" class="border">(11917)</td>
                <td style="width: 7%" class="border">(15602)</td>
                <td style="width: 7%" class="border">(19288)</td>
                <td style="width: 7%" class="border">(23216)</td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Ingresos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costo de Produccion</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Utilidad Bruta</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costos Fijos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">
                  UTILIDAD NETA Capacidad de pago
                </td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Cuota</td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
                <td style="width: 7%" class="border bg-white"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">FLUJO ACUMULADO</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
              </tr>
            </table>
          </div>
        </div>
        <br />
        <table style="width: 40%">
          <tr>
            <td style="width: 60%" class="fl">VAN</td>
            <td style="width: 40%" class="border"></td>
          </tr>
          <tr>
            <td style="width: 60%" class="fl">TIR</td>
            <td style="width: 40%" class="border"></td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
