<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">11. ANÁLISIS FINANCIERO</h2>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <table class="full-width table full-height">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p style="text-align: left">
                11.1. Costos operativos ¿Cuáles serán los gastos que generará la
                actividad mensualmente?
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 50%">COSTOS OPERATIVOS</td>
                  <td style="width: 50%" class="border">Negocio</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%" class="text-start">Impuestos</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Impuesto', costoOpImpuesto)"
                      [(ngModel)]="costoOpImpuesto"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alimentación</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('Alimentacion', costoOpAlimentacion)
                      "
                      [(ngModel)]="costoOpAlimentacion"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Luz</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServLuz', costoOpServLuz)"
                      [(ngModel)]="costoOpServLuz"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Agua
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServAgua', costoOpServAgua)"
                      [(ngModel)]="costoOpServAgua"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Gas</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServGas', costoOpServGas)"
                      [(ngModel)]="costoOpServGas"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Telefono/Celular
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServTelf', costoOpServTelf)"
                      [(ngModel)]="costoOpServTelf"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Servicio de Internet
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('ServInter', costoOpServInter)"
                      [(ngModel)]="costoOpServInter"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alquiler</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Alquiler', costoOpAlquiler)"
                      [(ngModel)]="costoOpAlquiler"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Transporte</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Transporte', costoOpTransporte)"
                      [(ngModel)]="costoOpTransporte"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Material de Escritorio
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor(
                          'MaterialEscritorio',
                          costoOpMaterialEscritorio
                        )
                      "
                      [(ngModel)]="costoOpMaterialEscritorio"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">
                    Pago a Empleados
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('PagoEmpl', costoOpPagoEmpl)"
                      [(ngModel)]="costoOpPagoEmpl"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Promoción</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Promo', costoOpPromo)"
                      [(ngModel)]="costoOpPromo"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Mantenimiento:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="1."
                      (change)="asignarValor('TxtMant1', costoOpTxtMant1)"
                      [(ngModel)]="costoOpTxtMant1"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant1', costoOpMant1)"
                      [(ngModel)]="costoOpMant1"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="2."
                      (change)="asignarValor('TxtMant2', costoOpTxtMant2)"
                      [(ngModel)]="costoOpTxtMant2"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant2', costoOpMant2)"
                      [(ngModel)]="costoOpMant2"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="3."
                      (change)="asignarValor('TxtMant3', costoOpTxtMant3)"
                      [(ngModel)]="costoOpTxtMant3"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Mant3', costoOpMant3)"
                      [(ngModel)]="costoOpMant3"
                    />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">Vestimenta</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Vestimenta', costoOpVestimenta)"
                      [(ngModel)]="costoOpVestimenta"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Salud</td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('Salud', costoOpSalud)"
                      [(ngModel)]="costoOpSalud"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Otros Imprevistos:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('TxtOtrosImpr1', costoOpTxtOtrosImpr1)
                      "
                      [(ngModel)]="costoOpTxtOtrosImpr1"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('OtrosImpr1', costoOpOtrosImpr1)"
                      [(ngModel)]="costoOpOtrosImpr1"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="
                        asignarValor('TxtOtrosImpr2', costoOpTxtOtrosImpr2)
                      "
                      [(ngModel)]="costoOpTxtOtrosImpr2"
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="number"
                      class="no-margin input-container"
                      placeholder=""
                      (change)="asignarValor('OtrosImpr2', costoOpOtrosImpr2)"
                      [(ngModel)]="costoOpOtrosImpr2"
                    />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">TOTAL GASTOS</td>
                  <td style="width: 50%" class="border">
                    {{ costoOpTotalGasto }}
                  </td>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <table class="full-width table full-height">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p class="full-width" style="text-align: left">
                11.2. Margen Bruto
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 75%" class="border">DATOS ANUALES</td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 25%" class="border">VENTAS</td>
                  <td style="width: 25%" class="border">COSTOS</td>
                  <td style="width: 25%" class="border">MARGEN</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">
                    MANUFACTURA / SERVICIOS
                  </td>
                  <td style="width: 25%" class="border">120000</td>
                  <td style="width: 25%" class="border">94800</td>
                  <td style="width: 25%" class="border">13%</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">AGRICOLA</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">PECUARIO</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 25%" class="border">TOTAL</td>
                  <td style="width: 25%" class="border">12000</td>
                  <td style="width: 25%" class="border">94800</td>
                  <td style="width: 25%" class="border">21%</td>
                </tr>
              </table>
              <br />
              <p style="text-align: left">11.3. Utilidad</p>
              <p>TABLA DE UTILIDAD</p>
              <table class="full-width">
                <tr>
                  <td style="width: 50%" class="border">
                    (+) INGRESOS TOTALES
                  </td>
                  <td style="width: 50%" class="border">120000</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTOS DIRECTOS</td>
                  <td style="width: 50%" class="border">94800</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(=) UTILIDAD BRUTA</td>
                  <td style="width: 50%" class="border">25200</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTO OPERATIVO</td>
                  <td style="width: 50%" class="border">
                    {{ costoOperativo }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">
                    (=) UTILIDAD OPERATIVA
                  </td>
                  <td style="width: 50%" class="border">
                    {{ utilidadOperativa }}
                  </td>
                </tr>
              </table>
              <br />
              <p>DATOS DEL CREDITO</p>
              <table>
                <tr>
                  <td style="width: 20%">Frecuencia:</td>
                  <td style="width: 15%">
                    <select class="custom-select">
                      <option value="opcion1">MENSUAL</option>
                      <option value="opcion2">BIMENSUAL</option>
                      <option value="opcion3">TRIMESTRAL</option>
                      <option value="opcion1">CUATRIMESTRAL</option>
                      <option value="opcion2">SEMESTRAL</option>
                      <option value="opcion3">ANUAL</option>
                    </select>
                  </td>
                  <td style="width: 15%">Poliza</td>
                  <td style="width: 15%">
                    <input
                      type="text"
                      class="input-container"
                      placeholder="0,395"
                      (change)="calculateDatosCredito()"
                      [(ngModel)]="flujoPoliza"
                    />
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">DATOS DEL CREDITO</td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">Tasa de</td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">Monto:</td>
                  <td style="width: 15%" class="border">
                    <output
                      [(ngModel)]="datosCreditoMonto"
                      (change)="(calculateDatosCredito)"
                    >
                      {{
                        datosCreditoMonto >= 0
                          ? "bs. " + datosCreditoMonto
                          : "(" + datosCreditoMonto * -1 + ")"
                      }}
                    </output>
                  </td>
                  <td style="width: 15%">Plazo (meses)</td>
                  <td style="width: 15%">
                    <input
                      type="number"
                      class="input-container"
                      placeholder="max 84"
                      (change)="calculateDatosCredito()"
                      [(ngModel)]="flujoPlazoMeses"
                    />
                  </td>
                  <td style="width: 15%">interes:</td>
                  <td style="width: 15%" class="border">
                    {{ flujoTasaInteres | percent : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 20%">Tipo cuota::</td>
                  <td style="width: 15%">
                    <select class="custom-select">
                      <option value="opcion1">CUOTA FIJA</option>
                      <option value="opcion2">CUOTA VARIABLE</option>
                      <option value="opcion3">PERSONALIZADA</option>
                    </select>
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <br />
                <tr>
                  <td style="width: 20%">actividad:</td>
                  <td style="width: 15%">
                    <select
                      class="custom-select"
                      [(ngModel)]="flujoActividad"
                      (change)="calculateDatosCredito()"
                    >
                      <option value="SERVICIOS">SERVICIOS</option>
                      <option value="PRODUCTIVIDAD">PRODUCTIVIDAD</option>
                    </select>
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">CUOTA APROX:</td>
                  <td style="width: 15%">
                    {{ flujoCuotaProx | number : "1.0-0" }}
                  </td>
                </tr>
                <br />
                <br />
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">12. FLUJO</h2>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize3" rowHeight="40px" class="bg-lightblue">
    <mat-grid-tile [colspan]="1" [rowspan]="3" class="custom-tile">
      <div class="content">
        <br />
        <table style="width: 100%">
          <tr>
            <td style="width: 34%"></td>
            <td style="width: 33%" class="fl text-center">MES</td>
            <td style="width: 33%" class="fl text-center">AÑO</td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Implementación estimada</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border">2023</td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Desembolso estimado</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border">2023</td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="18" class="custom-tile">
      <div class="content">
        <div class="conten">
          <div class="conteni">
            <table>
              <tr>
                <td style="width: 10%"></td>
                <td style="width: 7%" class="fl">INICIAL</td>
                <td style="width: 7%" class="fl">ENERO</td>
                <td style="width: 7%" class="fl">FEBRERO</td>
                <td style="width: 7%" class="fl">MARZO</td>
                <td style="width: 7%" class="fl">ABRIL</td>
                <td style="width: 7%" class="fl">MAYO</td>
                <td style="width: 7%" class="fl">JUNIO</td>
                <td style="width: 7%" class="fl">JULIO</td>
                <td style="width: 7%" class="fl">AGOSTO</td>
                <td style="width: 7%" class="fl">SEPTIEMBRE</td>
                <td style="width: 7%" class="fl">OCTUBRE</td>
                <td style="width: 7%" class="fl">NOVIEMBRE</td>
                <td style="width: 7%" class="fl">DICIEMBRE</td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Inversiones</td>
                <td style="width: 7%" class="border">425.789</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">SALDO INICIAL</td>
                <td style="width: 7%" class="border">425.789</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">
                  {{
                    flujoSIFeb >= 0 ? flujoSIFeb : "(" + flujoSIFeb * -1 + ")"
                  }}
                </td>
                <td style="width: 7%" class="border">{{ flujoSIMar >= 0 ? flujoSIMar : "("+ flujoSIMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIAbr >= 0 ?flujoSIAbr : "("+flujoSIAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIMay >= 0 ?flujoSIMay : "("+flujoSIMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIJun >= 0 ?flujoSIJun : "("+flujoSIJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIJul >= 0 ?flujoSIJul : "("+flujoSIJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIAgo >= 0 ?flujoSIAgo : "("+flujoSIAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSISep >= 0 ?flujoSISep : "("+flujoSISep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIOct >= 0 ?flujoSIOct : "("+flujoSIOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSINov >= 0 ?flujoSINov : "("+flujoSINov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoSIDiv >= 0 ?flujoSIDiv : "("+flujoSIDiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Ingresos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">{{ flujoIEne >= 0 ? flujoIEne : "("+ flujoIEne * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIFeb >= 0 ? flujoIFeb : "("+ flujoIFeb * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIMar >= 0 ? flujoIMar : "("+ flujoIMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIAbr >= 0 ? flujoIAbr : "("+ flujoIAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIMay >= 0 ? flujoIMay : "("+ flujoIMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIJun >= 0 ? flujoIJun : "("+ flujoIJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIJul >= 0 ? flujoIJul : "("+ flujoIJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIAgo >= 0 ? flujoIAgo : "("+ flujoIAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoISep >= 0 ? flujoISep : "("+ flujoISep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIOct >= 0 ? flujoIOct : "("+ flujoIOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoINov >= 0 ? flujoINov : "("+ flujoINov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoIDiv >= 0 ? flujoIDiv : "("+ flujoIDiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costo de Produccion</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">{{ flujoCProdEne >= 0 ? flujoCProdEne : "("+ flujoCProdEne * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPFeb >= 0 ? flujoCPFeb : "("+ flujoCPFeb * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPMar >= 0 ? flujoCPMar : "("+ flujoCPMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPAbr >= 0 ? flujoCPAbr : "("+ flujoCPAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPMay >= 0 ? flujoCPMay : "("+ flujoCPMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPJun >= 0 ? flujoCPJun : "("+ flujoCPJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPJul >= 0 ? flujoCPJul : "("+ flujoCPJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPAgo >= 0 ? flujoCPAgo : "("+ flujoCPAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPSep >= 0 ? flujoCPSep : "("+ flujoCPSep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPOct >= 0 ? flujoCPOct : "("+ flujoCPOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPNov >= 0 ? flujoCPNov : "("+ flujoCPNov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoCPDiv >= 0 ? flujoCPDiv : "("+ flujoCPDiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Utilidad Bruta</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">{{ flujoUBEne >= 0 ? flujoUBEne : "("+ flujoUBEne * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBFeb >= 0 ? flujoUBFeb : "("+ flujoUBFeb * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBMar >= 0 ? flujoUBMar : "("+ flujoUBMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBAbr >= 0 ? flujoUBAbr : "("+ flujoUBAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBMay >= 0 ? flujoUBMay : "("+ flujoUBMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBJun >= 0 ? flujoUBJun : "("+ flujoUBJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBJul >= 0 ? flujoUBJul : "("+ flujoUBJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBAgo >= 0 ? flujoUBAgo : "("+ flujoUBAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBSep >= 0 ? flujoUBSep : "("+ flujoUBSep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBOct >= 0 ? flujoUBOct : "("+ flujoUBOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBNov >= 0 ? flujoUBNov : "("+ flujoUBNov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUBDiv >= 0 ? flujoUBDiv : "("+ flujoUBDiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costos Fijos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCostosFijosTb1"
                  />
                </td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">
                  UTILIDAD NETA Capacidad de pago
                </td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">{{ flujoUNCdPagEne >= 0 ? flujoUNCdPagEne : "("+ flujoUNCdPagEne * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPFeb >= 0 ? flujoUNCdPFeb : "("+ flujoUNCdPFeb * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPMar >= 0 ? flujoUNCdPMar : "("+ flujoUNCdPMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPAbr >= 0 ? flujoUNCdPAbr : "("+ flujoUNCdPAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPMay >= 0 ? flujoUNCdPMay : "("+ flujoUNCdPMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPJun >= 0 ? flujoUNCdPJun : "("+ flujoUNCdPJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPJul >= 0 ? flujoUNCdPJul : "("+ flujoUNCdPJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPAgo >= 0 ? flujoUNCdPAgo : "("+ flujoUNCdPAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPSep >= 0 ? flujoUNCdPSep : "("+ flujoUNCdPSep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPOct >= 0 ? flujoUNCdPOct : "("+ flujoUNCdPOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPNov >= 0 ? flujoUNCdPNov : "("+ flujoUNCdPNov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoUNCdPDiv >= 0 ? flujoUNCdPDiv : "("+ flujoUNCdPDiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Cuota</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCEne"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCFeb"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCMar"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCAbr"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCMay"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCJun"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCJul"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCAgo"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCSep"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCOct"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCNov"
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                    [(ngModel)]="flujoCDiv"
                  />
                </td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">FLUJO ACUMULADO</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">{{ flujoAEne >= 0 ? flujoAEne : "("+ flujoAEne * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAFeb >= 0 ? flujoAFeb : "("+ flujoAFeb * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAMar >= 0 ? flujoAMar : "("+ flujoAMar * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAAbr >= 0 ? flujoAAbr : "("+ flujoAAbr * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAMay >= 0 ? flujoAMay : "("+ flujoAMay * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAJun >= 0 ? flujoAJun : "("+ flujoAJun * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAJul >= 0 ? flujoAJul : "("+ flujoAJul * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAAgo >= 0 ? flujoAAgo : "("+ flujoAAgo * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoASep >= 0 ? flujoASep : "("+ flujoASep * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoAOct >= 0 ? flujoAOct : "("+ flujoAOct * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoANov >= 0 ? flujoANov : "("+ flujoANov * -1 +")"}}</td>
                <td style="width: 7%" class="border">{{ flujoADiv >= 0 ? flujoADiv : "("+ flujoADiv * -1 +")"}}</td>
                <td style="width: 8%"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="conten">
          <div class="conteni1">
            <br />
            <table>
              <tr>
                <td style="width: 10%"></td>
                <td style="width: 7%" class="fl">2023</td>
                <td style="width: 7%" class="fl">2024</td>
                <td style="width: 7%" class="fl">2025</td>
                <td style="width: 7%" class="fl">2026</td>
                <td style="width: 7%" class="fl">2027</td>
                <td style="width: 7%" class="fl">2028</td>
                <td style="width: 7%" class="fl">2029</td>
                <td style="width: 7%" class="fl">2030</td>
                <td style="width: 8%"></td>
              </tr>

              <tr>
                <td style="width: 10%" class="fl">SALDO INICIAL</td>
                <td style="width: 7%" class="border">425.789</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border">(4.068)</td>
                <td style="width: 7%" class="border">7992</td>
                <td style="width: 7%" class="border">(11917)</td>
                <td style="width: 7%" class="border">(15602)</td>
                <td style="width: 7%" class="border">(19288)</td>
                <td style="width: 7%" class="border">(23216)</td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Ingresos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costo de Produccion</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Utilidad Bruta</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Costos Fijos</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">
                  UTILIDAD NETA Capacidad de pago
                </td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">Cuota</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 7%" class="border">
                  <input
                    type="text"
                    class="no-margin input-container"
                    placeholder=""
                  />
                </td>
                <td style="width: 8%"></td>
              </tr>
              <tr>
                <td style="width: 10%" class="fl">FLUJO ACUMULADO</td>
                <td style="width: 7%" class="border">-</td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 7%" class="border"></td>
                <td style="width: 8%"></td>
              </tr>
            </table>
          </div>
        </div>
        <br />
        <table style="width: 40%">
          <tr>
            <td style="width: 60%" class="fl">VAN</td>
            <td style="width: 40%" class="border"></td>
          </tr>
          <tr>
            <td style="width: 60%" class="fl">TIR</td>
            <td style="width: 40%" class="border"></td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
