<div class="contenedor">
  <mat-grid-list [cols]="colSize" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="20" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">11. ANÁLISIS FINANCIERO</h2>
        </div>
        <table class="full-width table">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p>
                11.1. Costos operativos ¿Cuáles serán los gastos que generará la
                actividad mensualmente?
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 50%">COSTOS OPERATIVOS</td>
                  <td style="width: 50%" class="border">Negocio</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%" class="text-start">Impuestos</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alimentación</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Luz</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Agua</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Gas</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Telefono/Celular</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Servicio de Internet</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Alquiler</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Transporte</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Material de Escritorio</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Pago a Empleados</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Promoción</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="text-start">Mantenimiento:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="1."
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="2."
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input
                      type="text"
                      class="no-margin input-container"
                      placeholder="3."
                    />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">Vestimenta</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Salud</td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%">Otros Imprevistos:</td>
                  <td style="width: 50%"></td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                  <td style="width: 50%" class="border bg-white">
                    <input type="text" class="no-margin input-container" placeholder="" />
                  </td>
                </tr>
                <br />
                <tr>
                  <td style="width: 50%">TOTAL GASTOS</td>
                  <td style="width: 50%" class="border"></td>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="20" class="custom-tile">
      <div class="content">
        <table class="full-width table">
          <tr>
            <th colspan="1" rowspan="10" style="width: 50%" class="border">
              <p class="full-width" style="text-align: left">
                11.2. Margen Bruto
              </p>
              <table class="full-width">
                <br />
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 75%" class="border">DATOS ANUALES</td>
                </tr>
              </table>
              <table class="full-width">
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 25%" class="border">VENTAS</td>
                  <td style="width: 25%" class="border">COSTOS</td>
                  <td style="width: 25%" class="border">MARGEN</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">
                    MANUFACTURA / SERVICIOS
                  </td>
                  <td style="width: 25%" class="border">120000</td>
                  <td style="width: 25%" class="border">94800</td>
                  <td style="width: 25%" class="border">13%</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">AGRICOLA</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <tr>
                  <td style="width: 25%" class="border">PECUARIO</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                  <td style="width: 25%" class="border">-</td>
                </tr>
                <br />
                <tr>
                  <td style="width: 25%" class="border">TOTAL</td>
                  <td style="width: 25%" class="border">12000</td>
                  <td style="width: 25%" class="border">94800</td>
                  <td style="width: 25%" class="border">21%</td>
                </tr>
              </table>
              <br />
              <p style="text-align: left">11.3. Utilidad</p>
              <p>TABLA DE UTILIDAD</p>
              <table class="full-width">
                <tr>
                  <td style="width: 50%" class="border">
                    (+) INGRESOS TOTALES
                  </td>
                  <td style="width: 50%" class="border">120000</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTOS DIRECTOS</td>
                  <td style="width: 50%" class="border">94800</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(=) UTILIDAD BRUTA</td>
                  <td style="width: 50%" class="border">25200</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">(-) COSTO OPERATIVO</td>
                  <td style="width: 50%" class="border">94800</td>
                </tr>
                <tr>
                  <td style="width: 50%" class="border">
                    (=) UTILIDAD OPERATIVA
                  </td>
                  <td style="width: 50%" class="border">-69600</td>
                </tr>
              </table>
              <br />
              <p>DATOS DEL CREDITO</p>
              <table>
                <tr>
                  <td style="width: 20%">Frecuencia:</td>
                  <td style="width: 15%">
                    <select class="custom-select">
                      <option value="opcion1">MENSUAL</option>
                      <option value="opcion2">BIMENSUAL</option>
                      <option value="opcion3">TRIMESTRAL</option>
                      <option value="opcion1">CUATRIMESTRAL</option>
                      <option value="opcion2">SEMESTRAL</option>
                      <option value="opcion3">ANUAL</option>
                    </select>
                  </td>
                  <td style="width: 15%">Poliza</td>
                  <td style="width: 15%">
                    <input
                      type="text"
                      class="input-container"
                      placeholder="0,395"
                    />
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">DATOS DEL CREDITO</td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">Plazo</td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">Tasa de</td>
                  <td style="width: 15%"></td>
                </tr>
                <tr>
                  <td style="width: 20%">Monto:</td>
                  <td style="width: 15%" class="border">(174211.00)</td>
                  <td style="width: 15%">(meses)</td>
                  <td style="width: 15%">
                    <input
                      type="text"
                      class="input-container"
                      placeholder="72"
                    />
                  </td>
                  <td style="width: 15%">interes:</td>
                  <td style="width: 15%" class="border">7,00</td>
                </tr>
                <tr>
                  <td style="width: 20%">Tipo cuota::</td>
                  <td style="width: 15%">
                    <select class="custom-select">
                      <option value="opcion1">CUOTA FIJA</option>
                      <option value="opcion2">CUOTA VARIABLE</option>
                      <option value="opcion3">PERSONALIZADA</option>
                    </select>
                  </td>
                  <td style="width: 15%">Poliza</td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                </tr>
                <br />
                <tr>
                  <td style="width: 20%">actividad:</td>
                  <td style="width: 15%">
                    <select class="custom-select">
                      <option value="opcion1">SERVICIOS</option>
                      <option value="opcion2">PRODUCTIVIDAD</option>
                    </select>
                  </td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%"></td>
                  <td style="width: 15%">CUOTA APROX:</td>
                  <td style="width: 15%">(2970)</td>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize2" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="10" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">12. FLUJO</h2>
        </div>
        <br />
        <table style="width: 40%">
          <tr>
            <td style="width: 34%"></td>
            <td style="width: 33%" class="fl">MES</td>
            <td style="width: 33%" class="fl">AÑO</td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Implementación estimada</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border">2023</td>
          </tr>
          <tr>
            <td style="width: 40%" class="fl">Desembolso estimado</td>
            <td style="width: 30%" class="border">
              <select class="custom-select">
                <option value="opcion1">ENERO</option>
                <option value="opcion2">FEBRERO</option>
                <option value="opcion1">MARZO</option>
                <option value="opcion2">ABRIL</option>
                <option value="opcion1">MAYO</option>
                <option value="opcion2">JUNIO</option>
                <option value="opcion1">JULIO</option>
                <option value="opcion2">AGOSTO</option>
                <option value="opcion1">SEPTIEMBRE</option>
                <option value="opcion2">OCTUBRE</option>
                <option value="opcion1">NOVIEMBRE</option>
                <option value="opcion2">DICIEMBRE</option>
              </select>
            </td>
            <td style="width: 30%" class="border">2023</td>
          </tr>
        </table>
        <br />
        <div class="tabla_contenedor">
          <table class="full-width tabla_contenedor">
            <tr>
              <td style="width: 40%">h</td>
              <td style="width: 40%">h</td>
              <td style="width: 40%">h</td>
              <td style="width: 40%">h</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
