<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div
        class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal"
      >
        <h2 class="texto-bold">8. PRESUPUESTO DEL EMPRENDIMIENTO</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical" >
        <p class="text__mobil" >
          8.1. ¿Con que Efectivo cuenta para realizar el emprendimiento?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table text__mobil">
        <div class="border2"></div>
        <div class="border1">DETALLE</div>
        <div class="table_header">PROCEDENCIA</div>
        <div class="table_header">MONTO APORTE PROPIO</div>
        <div class="table_item">EFECTIVO/ORIGEN:</div>
        <div class="table_item">
          <textarea
            type="text"
            class="input"
            placeholder=""
            (change)="asignarValor('CaOpDetalle1', presupuestoCaOpDetalle1)"
            [(ngModel)]="presupuestoCaOpDetalle1"
          ></textarea>
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpProcedencia1', presupuestoCaOpProcedencia1)"
            [(ngModel)]="presupuestoCaOpProcedencia1"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal(0)"
            [(ngModel)]="inputValuesDetalle[0]"
          />
        </div>
        <div class="table_item">CAJA DE AHORRO/ENTIDAD FINACIERA</div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpDetalle2', presupuestoCaOpDetalle2)"
            [(ngModel)]="presupuestoCaOpDetalle2"
          ></textarea>
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpProcedencia2', presupuestoCaOpProcedencia2)"
            [(ngModel)]="presupuestoCaOpProcedencia2"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal(1)"
            [(ngModel)]="inputValuesDetalle[1]"
          />
        </div>
        <div class="table_item">OTROS</div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpDetalle3', presupuestoCaOpDetalle3)"
            [(ngModel)]="presupuestoCaOpDetalle3"
          ></textarea>
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpProcedencia3', presupuestoCaOpProcedencia3)"
            [(ngModel)]="presupuestoCaOpProcedencia3"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal(2)"
            [(ngModel)]="inputValuesDetalle[2]"
          />
        </div>
        <div class="border2"></div>
        <div class="border1"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(total) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div
        class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal"
      >
        <h2 class="texto-bold">CAPITAL OPERATIVO</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">8.2 Mano de Obra del Emprendedor</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="4"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table0 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_item">1</div>
        <div class="table_item">global</div>
        <div class="table_item">
          MANO DE OBRA DEL EMPRENDEDOR HASTA LA INSTALACION DEL NEGOCIO
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="agregarTotal()"
            [(ngModel)]="manoObraEmprendedor"
          />
        </div>

        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(valorManoObra) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.3 Materia Prima, Insumos y/o animales de engorde
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="13"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant1', presupuestoCaOpMatPrimaCant1)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad1', presupuestoCaOpMatPrimaUnidad1)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle1', presupuestoCaOpMatPrimaDetalle1)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle1"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(0)"
            [(ngModel)]="inputValuesMateriaPrima[0]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(0)"
            [(ngModel)]="inputValuesMateriaPrima1[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant2', presupuestoCaOpMatPrimaCant2)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad2', presupuestoCaOpMatPrimaUnidad2)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle2', presupuestoCaOpMatPrimaDetalle2)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle2"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(1)"
            [(ngModel)]="inputValuesMateriaPrima[1]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(1)"
            [(ngModel)]="inputValuesMateriaPrima1[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant3', presupuestoCaOpMatPrimaCant3)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad3', presupuestoCaOpMatPrimaUnidad3)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle3', presupuestoCaOpMatPrimaDetalle3)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle3"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(2)"
            [(ngModel)]="inputValuesMateriaPrima[2]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(2)"
            [(ngModel)]="inputValuesMateriaPrima1[2]"
          />
        </div>
        <!-- Desde aqui se aumentara 5 filas mas 3-->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant4', presupuestoCaOpMatPrimaCant4)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant4"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad4', presupuestoCaOpMatPrimaUnidad4)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad4"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle4', presupuestoCaOpMatPrimaDetalle4)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle4"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(3)"
            [(ngModel)]="inputValuesMateriaPrima[3]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(3)"
            [(ngModel)]="inputValuesMateriaPrima1[3]"
          />
        </div>
        <!-- 4 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant5', presupuestoCaOpMatPrimaCant5)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant5"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad5', presupuestoCaOpMatPrimaUnidad5)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad5"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle5', presupuestoCaOpMatPrimaDetalle5)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle5"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(4)"
            [(ngModel)]="inputValuesMateriaPrima[4]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(4)"
            [(ngModel)]="inputValuesMateriaPrima1[4]"
          />
        </div>
        <!-- 5 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant6', presupuestoCaOpMatPrimaCant6)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant6"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad6', presupuestoCaOpMatPrimaUnidad6)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad6"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle6', presupuestoCaOpMatPrimaDetalle6)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle6"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(5)"
            [(ngModel)]="inputValuesMateriaPrima[5]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(5)"
            [(ngModel)]="inputValuesMateriaPrima1[5]"
          />
        </div>
        <!-- 6 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant7', presupuestoCaOpMatPrimaCant7)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant7"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad7', presupuestoCaOpMatPrimaUnidad7)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad7"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle7', presupuestoCaOpMatPrimaDetalle7)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle7"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(6)"
            [(ngModel)]="inputValuesMateriaPrima[6]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(6)"
            [(ngModel)]="inputValuesMateriaPrima1[6]"
          />
        </div>
        <!-- 7 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaCant8', presupuestoCaOpMatPrimaCant8)"
            [(ngModel)]="presupuestoCaOpMatPrimaCant8"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaUnidad8', presupuestoCaOpMatPrimaUnidad8)"
            [(ngModel)]="presupuestoCaOpMatPrimaUnidad8"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpMatPrimaDetalle8', presupuestoCaOpMatPrimaDetalle8)"
            [(ngModel)]="presupuestoCaOpMatPrimaDetalle8"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal1(7)"
            [(ngModel)]="inputValuesMateriaPrima[7]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal2(7)"
            [(ngModel)]="inputValuesMateriaPrima1[7]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(totalMateriaPrima) }}</div>
        <div class="table_item">{{ formatearNumero(totalMateriaPrima1) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">8.4 Requerimientos promocionales</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="7"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequCant1', presupuestoCaOpRequCant1)"
            [(ngModel)]="presupuestoCaOpRequCant1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequUni1', presupuestoCaOpRequUni1)"
            [(ngModel)]="presupuestoCaOpRequUni1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequDet1', presupuestoCaOpRequDet1)"
            [(ngModel)]="presupuestoCaOpRequDet1"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal3(0)"
            [(ngModel)]="inputValuesReqProm[0]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal4(0)"
            [(ngModel)]="inputValuesReqProm1[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequCant2', presupuestoCaOpRequCant2)"
            [(ngModel)]="presupuestoCaOpRequCant2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequUni2', presupuestoCaOpRequUni2)"
            [(ngModel)]="presupuestoCaOpRequUni2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequDet2', presupuestoCaOpRequDet2)"
            [(ngModel)]="presupuestoCaOpRequDet2"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal3(1)"
            [(ngModel)]="inputValuesReqProm[1]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal4(1)"
            [(ngModel)]="inputValuesReqProm1[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequCant3', presupuestoCaOpRequCant3)"
            [(ngModel)]="presupuestoCaOpRequCant3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequUni3', presupuestoCaOpRequUni3)"
            [(ngModel)]="presupuestoCaOpRequUni3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpRequDet3', presupuestoCaOpRequDet3)"
            [(ngModel)]="presupuestoCaOpRequDet3"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal3(2)"
            [(ngModel)]="inputValuesReqProm[2]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal4(2)"
            [(ngModel)]="inputValuesReqProm1[2]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(totalReqProm) }}</div>
        <div class="table_item">{{ formatearNumero(totalReqProm1) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.5 Gastos operativos (Mano de obra, Alquileres, Servicios Básicos,
          etc)
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="8"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosCant1', presupuestoCaOpGastosCant1)"
            [(ngModel)]="presupuestoCaOpGastosCant1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosUn1', presupuestoCaOpGastosUn1)"
            [(ngModel)]="presupuestoCaOpGastosUn1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosDet1', presupuestoCaOpGastosDet1)"
            [(ngModel)]="presupuestoCaOpGastosDet1"
          ></textarea>
        </div>
        <div class="border7"></div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal5(0)"
            [(ngModel)]="inputValuesGastosOp[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosCant2', presupuestoCaOpGastosCant2)"
            [(ngModel)]="presupuestoCaOpGastosCant2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosUn2', presupuestoCaOpGastosUn2)"
            [(ngModel)]="presupuestoCaOpGastosUn2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosDet2', presupuestoCaOpGastosDet2)"
            [(ngModel)]="presupuestoCaOpGastosDet2"
          ></textarea>
        </div>
        <div class="border6"></div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal5(1)"
            [(ngModel)]="inputValuesGastosOp[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosCant3', presupuestoCaOpGastosCant3)"
            [(ngModel)]="presupuestoCaOpGastosCant3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosUn3', presupuestoCaOpGastosUn3)"
            [(ngModel)]="presupuestoCaOpGastosUn3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CaOpGastosDet3', presupuestoCaOpGastosDet3)"
            [(ngModel)]="presupuestoCaOpGastosDet3"
          ></textarea>
        </div>
        <div class="border5"></div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal5(2)"
            [(ngModel)]="inputValuesGastosOp[2]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item"></div>
        <div class="table_item">{{ formatearNumero(totalGastosOp) }}</div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">TOTAL CAPITAL DE OPERACIONES</div>
        <div class="table_item">{{ formatearNumero(totalCapitalOpApPro) }}</div>
        <div class="table_item">{{ formatearNumero(totalCapitalOpInvertira) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div
        class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal"
      >
        <h2 class="texto-bold">CAPITAL DE INVERSIÓN</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.6 Infraestructura y/o terrenos y/o plantines
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="10"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrCan1', presupuestoCapInInfrCan1)"
            [(ngModel)]="presupuestoCapInInfrCan1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrUn1', presupuestoCapInInfrUn1)"
            [(ngModel)]="presupuestoCapInInfrUn1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrDet1', presupuestoCapInInfrDet1)"
            [(ngModel)]="presupuestoCapInInfrDet1"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal6(0)"
            [(ngModel)]="inputValuesInfr[0]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal7(0)"
            [(ngModel)]="inputValuesInfr1[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrCan2', presupuestoCapInInfrCan2)"
            [(ngModel)]="presupuestoCapInInfrCan2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrUn2', presupuestoCapInInfrUn2)"
            [(ngModel)]="presupuestoCapInInfrUn2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrDet2', presupuestoCapInInfrDet2)"
            [(ngModel)]="presupuestoCapInInfrDet2"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal6(1)"
            [(ngModel)]="inputValuesInfr[1]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal7(1)"
            [(ngModel)]="inputValuesInfr1[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrCan3', presupuestoCapInInfrCan3)"
            [(ngModel)]="presupuestoCapInInfrCan3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrUn3', presupuestoCapInInfrUn3)"
            [(ngModel)]="presupuestoCapInInfrUn3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrDet3', presupuestoCapInInfrDet3)"
            [(ngModel)]="presupuestoCapInInfrDet3"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal6(2)"
            [(ngModel)]="inputValuesInfr[2]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal7(2)"
            [(ngModel)]="inputValuesInfr1[2]"
          />
        </div>
        <!-- Se agregara 2 filas mas 4 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrCan4', presupuestoCapInInfrCan4)"
            [(ngModel)]="presupuestoCapInInfrCan4"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrUn4', presupuestoCapInInfrUn4)"
            [(ngModel)]="presupuestoCapInInfrUn4"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrDet4', presupuestoCapInInfrDet4)"
            [(ngModel)]="presupuestoCapInInfrDet4"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal6(3)"
            [(ngModel)]="inputValuesInfr[3]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal7(3)"
            [(ngModel)]="inputValuesInfr1[3]"
          />
        </div>
        <!-- 5 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrCan5', presupuestoCapInInfrCan5)"
            [(ngModel)]="presupuestoCapInInfrCan5"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrUn5', presupuestoCapInInfrUn5)"
            [(ngModel)]="presupuestoCapInInfrUn5"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInInfrDet5', presupuestoCapInInfrDet5)"
            [(ngModel)]="presupuestoCapInInfrDet5"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal6(4)"
            [(ngModel)]="inputValuesInfr[4]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal7(4)"
            [(ngModel)]="inputValuesInfr1[4]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(totalInfr) }}</div>
        <div class="table_item">{{ formatearNumero(totalInfr1) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">8.7 Maquinaria, Equipos, Vehículos y/o Ganado</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="15"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan1', presupuestoCapInMaqCan1)"
            [(ngModel)]="presupuestoCapInMaqCan1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn1', presupuestoCapInMaqUn1)"
            [(ngModel)]="presupuestoCapInMaqUn1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet1', presupuestoCapInMaqDet1)"
            [(ngModel)]="presupuestoCapInMaqDet1"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(0)"
            [(ngModel)]="inputValuesMaq[0]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(0)"
            [(ngModel)]="inputValuesMaq1[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan2', presupuestoCapInMaqCan2)"
            [(ngModel)]="presupuestoCapInMaqCan2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn2', presupuestoCapInMaqUn2)"
            [(ngModel)]="presupuestoCapInMaqUn2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet2', presupuestoCapInMaqDet2)"
            [(ngModel)]="presupuestoCapInMaqDet2"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(1)"
            [(ngModel)]="inputValuesMaq[1]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(1)"
            [(ngModel)]="inputValuesMaq1[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan3', presupuestoCapInMaqCan3)"
            [(ngModel)]="presupuestoCapInMaqCan3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn3', presupuestoCapInMaqUn3)"
            [(ngModel)]="presupuestoCapInMaqUn3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet3', presupuestoCapInMaqDet3)"
            [(ngModel)]="presupuestoCapInMaqDet3"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(2)"
            [(ngModel)]="inputValuesMaq[2]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(2)"
            [(ngModel)]="inputValuesMaq1[2]"
          />
        </div>
        <!-- Se agregara 7 filas mas 4 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan4', presupuestoCapInMaqCan4)"
            [(ngModel)]="presupuestoCapInMaqCan4"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn4', presupuestoCapInMaqUn4)"
            [(ngModel)]="presupuestoCapInMaqUn4"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet4', presupuestoCapInMaqDet4)"
            [(ngModel)]="presupuestoCapInMaqDet4"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(3)"
            [(ngModel)]="inputValuesMaq[3]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(3)"
            [(ngModel)]="inputValuesMaq1[3]"
          />
        </div>
        <!-- 5 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan5', presupuestoCapInMaqCan5)"
            [(ngModel)]="presupuestoCapInMaqCan5"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn5', presupuestoCapInMaqUn5)"
            [(ngModel)]="presupuestoCapInMaqUn5"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet5', presupuestoCapInMaqDet5)"
            [(ngModel)]="presupuestoCapInMaqDet5"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(4)"
            [(ngModel)]="inputValuesMaq[4]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(4)"
            [(ngModel)]="inputValuesMaq1[4]"
          />
        </div>
        <!-- 6 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan6', presupuestoCapInMaqCan6)"
            [(ngModel)]="presupuestoCapInMaqCan6"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn6', presupuestoCapInMaqUn6)"
            [(ngModel)]="presupuestoCapInMaqUn6"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet6', presupuestoCapInMaqDet6)"
            [(ngModel)]="presupuestoCapInMaqDet6"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(5)"
            [(ngModel)]="inputValuesMaq[5]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(5)"
            [(ngModel)]="inputValuesMaq1[5]"
          />
        </div>
        <!-- 7 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan7', presupuestoCapInMaqCan7)"
            [(ngModel)]="presupuestoCapInMaqCan7"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn7', presupuestoCapInMaqUn7)"
            [(ngModel)]="presupuestoCapInMaqUn7"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet7', presupuestoCapInMaqDet7)"
            [(ngModel)]="presupuestoCapInMaqDet7"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(6)"
            [(ngModel)]="inputValuesMaq[6]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(6)"
            [(ngModel)]="inputValuesMaq1[6]"
          />
        </div>
        <!-- 8 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan8', presupuestoCapInMaqCan8)"
            [(ngModel)]="presupuestoCapInMaqCan8"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn8', presupuestoCapInMaqUn8)"
            [(ngModel)]="presupuestoCapInMaqUn8"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet8', presupuestoCapInMaqDet8)"
            [(ngModel)]="presupuestoCapInMaqDet8"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(7)"
            [(ngModel)]="inputValuesMaq[7]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(7)"
            [(ngModel)]="inputValuesMaq1[7]"
          />
        </div>
        <!-- 9 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan9', presupuestoCapInMaqCan9)"
            [(ngModel)]="presupuestoCapInMaqCan9"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn9', presupuestoCapInMaqUn9)"
            [(ngModel)]="presupuestoCapInMaqUn9"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet9', presupuestoCapInMaqDet9)"
            [(ngModel)]="presupuestoCapInMaqDet9"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(8)"
            [(ngModel)]="inputValuesMaq[8]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(8)"
            [(ngModel)]="inputValuesMaq1[8]"
          />
        </div>
        <!-- 10 -->
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqCan10', presupuestoCapInMaqCan10)"
            [(ngModel)]="presupuestoCapInMaqCan10"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqUn10', presupuestoCapInMaqUn10)"
            [(ngModel)]="presupuestoCapInMaqUn10"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInMaqDet10', presupuestoCapInMaqDet10)"
            [(ngModel)]="presupuestoCapInMaqDet10"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal8(9)"
            [(ngModel)]="inputValuesMaq[9]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal9(9)"
            [(ngModel)]="inputValuesMaq1[9]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(totalMaq) }}</div>
        <div class="table_item">{{ formatearNumero(totalMaq1) }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">8.8 Requerimientos legales</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="8"
      class="expand-tile fondo__subtitulo2"
    >
      <div class="table1 text__mobil">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqCan1', presupuestoCapInReqCan1)"
            [(ngModel)]="presupuestoCapInReqCan1"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqUn1', presupuestoCapInReqUn1)"
            [(ngModel)]="presupuestoCapInReqUn1"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqDet1', presupuestoCapInReqDet1)"
            [(ngModel)]="presupuestoCapInReqDet1"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal10(0)"
            [(ngModel)]="inputValuesLegal[0]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal11(0)"
            [(ngModel)]="inputValuesLegal1[0]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqCan2', presupuestoCapInReqCan2)"
            [(ngModel)]="presupuestoCapInReqCan2"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqUn2', presupuestoCapInReqUn2)"
            [(ngModel)]="presupuestoCapInReqUn2"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqDet2', presupuestoCapInReqDet2)"
            [(ngModel)]="presupuestoCapInReqDet2"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal10(1)"
            [(ngModel)]="inputValuesLegal[1]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal11(1)"
            [(ngModel)]="inputValuesLegal1[1]"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqCan3', presupuestoCapInReqCan3)"
            [(ngModel)]="presupuestoCapInReqCan3"
          />
        </div>
        <div class="table_item">
          <input type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqUn3', presupuestoCapInReqUn3)"
            [(ngModel)]="presupuestoCapInReqUn3"
          />
        </div>
        <div class="table_item">
          <textarea type="text" class="input" placeholder=""
          (change)="asignarValor('CapInReqDet3', presupuestoCapInReqDet3)"
            [(ngModel)]="presupuestoCapInReqDet3"
          ></textarea>
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal10(2)"
            [(ngModel)]="inputValuesLegal[2]"
          />
        </div>
        <div class="table_item">
          <input
            type="number"
            class="input"
            placeholder=""
            (change)="calculateTotal11(2)"
            [(ngModel)]="inputValuesLegal1[2]"
          />
        </div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">SUB TOTAL</div>
        <div class="table_item">{{ formatearNumero(totalLegal) }}</div>
        <div class="table_item">{{ formatearNumero(totalLegal1) }}</div>
        <div class="border2"></div>
        <div class="border4"></div>
        <div class="border3">TOTAL CAPITAL DE INVERSION</div>
        <div class="table_item">{{ formatearNumero(totalCapitalInversionApPo) }}</div>
        <div class="table_item">{{ formatearNumero(totalCapitalInversionSeInvertira) }}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
