<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
        <h2 class="texto-bold">8. PRESUPUESTO DEL EMPRENDIMIENTO</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.1. ¿Con que Efectivo cuenta para realizar el emprendimiento?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7" class="expand-tile fondo__subtitulo2">
      <div  class="table">
        <div class="table_header"> DETALLE</div>
        <div class="table_header"></div>
        <div class="table_header"> PROCEDENCIA</div>
        <div class="table_header">MONTO APORTE PROPIO</div>
        <div class="table_item">EFECTIVO/ORIGEN:  </div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal(0)" [(ngModel)]="inputValuesDetalle[0]"></div>
        <div class="table_item">CAJA DE AHORRO/ENTIDAD FINACIERA</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal(1)" [(ngModel)]="inputValuesDetalle[1]"></div>
        <div class="table_item">OTROS</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""> </div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal(2)" [(ngModel)]="inputValuesDetalle[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{total}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
        <h2 class="texto-bold">CAPITAL OPERATIVO</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.2 Mano de Obra del Emprendedor
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="4" class="expand-tile fondo__subtitulo2">
      <div  class="table0">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLES</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_item">1</div>
        <div class="table_item">global</div>
        <div class="table_item">MANO DE OBRA DEL EMPRENDEDOR HASTA LA INSTALACION DEL NEGOCIO</div>
        <div class="table_item"><input type="number" class="input" placeholder=""  (change)="agregarTotal()" [(ngModel)]="manoObraEmprendedor"></div>

        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{valorManoObra}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.3 Materia Prima, Insumos y/o animales de engorde
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal1(0)" [(ngModel)]="inputValuesMateriaPrima[0]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal2(0)" [(ngModel)]="inputValuesMateriaPrima1[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal1(1)" [(ngModel)]="inputValuesMateriaPrima[1]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal2(1)" [(ngModel)]="inputValuesMateriaPrima1[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal1(2)" [(ngModel)]="inputValuesMateriaPrima[2]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal2(2)" [(ngModel)]="inputValuesMateriaPrima1[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{totalMateriaPrima}}</div>
        <div class="table_item">{{totalMateriaPrima1}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.4 Requerimientos promocionales
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal3(0)" [(ngModel)]="inputValuesReqProm[0]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal4(0)" [(ngModel)]="inputValuesReqProm1[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal3(1)" [(ngModel)]="inputValuesReqProm[1]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal4(1)" [(ngModel)]="inputValuesReqProm1[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal3(2)" [(ngModel)]="inputValuesReqProm[2]"></div>
        <div class="table_item"><input type="number" class="input" placeholder="" (change)="calculateTotal4(2)" [(ngModel)]="inputValuesReqProm1[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{totalReqProm}}</div>
        <div class="table_item">{{totalReqProm1}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">  8.5 Gastos operativos (Mano de obra, Alquileres, Servicios Básicos, etc) </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="8" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal5(0)" [(ngModel)]="inputValuesGastosOp[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal5(1)" [(ngModel)]="inputValuesGastosOp[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal5(2)" [(ngModel)]="inputValuesGastosOp[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item"></div>
        <div class="table_item">{{totalGastosOp}}</div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">TOTAL CAPITAL DE OPERACIONES</div>
        <div class="table_item">{{totalCapitalOpApPro}}</div>
        <div class="table_item">{{totalCapitalOpInvertira}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
        <h2 class="texto-bold">CAPITAL DE INVERSIÓN</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.6 Infraestructura y/o terrenos y/o plantines
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal6(0)" [(ngModel)]="inputValuesInfr[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal7(0)" [(ngModel)]="inputValuesInfr1[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal6(1)" [(ngModel)]="inputValuesInfr[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal7(1)" [(ngModel)]="inputValuesInfr1[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal6(2)" [(ngModel)]="inputValuesInfr[2]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal7(2)" [(ngModel)]="inputValuesInfr1[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{totalInfr}}</div>
        <div class="table_item">{{totalInfr1}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          8.7 Maquinaria, Equipos, Vehículos y/o Ganado
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal8(0)" [(ngModel)]="inputValuesMaq[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal9(0)" [(ngModel)]="inputValuesMaq1[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal8(1)" [(ngModel)]="inputValuesMaq[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal9(1)" [(ngModel)]="inputValuesMaq1[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal8(2)" [(ngModel)]="inputValuesMaq[2]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal9(2)" [(ngModel)]="inputValuesMaq1[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{totalMaq}}</div>
        <div class="table_item">{{totalMaq1}}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">  8.8 Requerimientos legales</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="8" class="expand-tile fondo__subtitulo2">
      <div  class="table1">
        <div class="table_header">CANTIDAD</div>
        <div class="table_header">UNIDAD</div>
        <div class="table_header">DETALLE</div>
        <div class="table_header">APORTE PROPIO (BS)</div>
        <div class="table_header">SE INVERTIRÁ (BS)</div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal10(0)" [(ngModel)]="inputValuesLegal[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal11(0)" [(ngModel)]="inputValuesLegal1[0]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal10(1)" [(ngModel)]="inputValuesLegal[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal11(1)" [(ngModel)]="inputValuesLegal1[1]"></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder=""></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal10(2)" [(ngModel)]="inputValuesLegal[2]"></div>
        <div class="table_item"><input type="text" class="input" placeholder="" (change)="calculateTotal11(2)" [(ngModel)]="inputValuesLegal1[2]"></div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">SUB TOTAL</div>
        <div class="table_item">{{totalLegal}}</div>
        <div class="table_item">{{totalLegal1}}</div>
        <div class="table_item"></div>
        <div class="table_item"></div>
        <div class="table_item">TOTAL CAPITAL DE INVERSION</div>
        <div class="table_item">{{totalCapitalInversionApPo}}</div>
        <div class="table_item">{{totalCapitalInversionSeInvertira}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

