<footer class="footer">
  <mat-toolbar class="mat-toolbar">
    <span class="footer-text"
      >© 2023 Grupo 4 TSS. Todos los derechos reservados.</span
    >
    <!-- <span class="spacer"></span> -->
    <!-- <mat-nav-list class="footer-links">
        <a mat-list-item routerLink="/about-us">Acerca de nosotros</a>
        <a mat-list-item routerLink="/products">Productos</a>
        <a mat-list-item routerLink="/services">Servicios</a>
        <a mat-list-item routerLink="/privacy-policy">Política de privacidad</a>
        <a mat-list-item routerLink="/terms-and-conditions">Términos y condiciones</a>
      </mat-nav-list>
      <span class="spacer"></span>
      <mat-nav-list class="footer-social">
        <a mat-icon-button href="#" aria-label="Facebook">
          <mat-icon>facebook</mat-icon>
        </a>
        <a mat-icon-button href="#" aria-label="Twitter">
          <mat-icon>twitter</mat-icon>
        </a>
        <a mat-icon-button href="#" aria-label="Instagram">
          <mat-icon>instagram</mat-icon>
        </a>
      </mat-nav-list> -->
  </mat-toolbar>
</footer>
