<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical">
        <h2 class="texto-bold">5.3. Plaza (Lugar y Distribución)</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          Si el Producto o Servicio se vende de manera directa, ¿Cuál será el
          lugar de venta?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          Si el Producto o Servicio se vende de manera indirecta, ¿Quienes son
          los intermediarios y/o distribuidores?, ¿Donde son sus lugares de
          venta?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Existe otra forma de venta del producto o servicio que no sea en un
          lugar físico?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical">
        <h2 class="texto-bold">5.4. Promoción</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿De qué manera comunicara a los clientes potenciales la existencia del
          Producto o Servicio?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Qué acciones pretende implementar para atraer más clientes?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
        <h2 class="texto-bold">6. PROVEEDORES Y CONSUMIDORES</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Quienes serán mis principales proveedores, compradores y cual es mi capacidad de negociar con ellos?
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize" rowHeight="400px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content">
        <p class="">
          Hola
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content">
        <p class="">
          Hola
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
