<div class="contenedor">
  <mat-grid-list [cols]="1" rowHeight="55px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical">
        <h2 class="texto-bold">5.3. Plaza (Lugar y Distribución)</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="">
          Si el Producto o Servicio se vende de manera directa, ¿Cuál será el
          lugar de venta?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          Si el Producto o Servicio se vende de manera indirecta, ¿Quienes son
          los intermediarios y/o distribuidores?, ¿Donde son sus lugares de
          venta?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Existe otra forma de venta del producto o servicio que no sea en un
          lugar físico?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div class="content fondo__subtitlo grid__centerVertical">
        <h2 class="texto-bold">5.4. Promoción</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿De qué manera comunicara a los clientes potenciales la existencia del
          Producto o Servicio?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Qué acciones pretende implementar para atraer más clientes?
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
      <textarea class="custom-textarea" placeholder=""></textarea>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div
        class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal"
      >
        <h2 class="texto-bold">6. PROVEEDORES Y CONSUMIDORES</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content fondo__subtitulo2 grid__centerVertical">
        <p class="text__mobil">
          ¿Quienes serán mis principales proveedores, compradores y cual es mi
          capacidad de negociar con ellos?
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="colSize" rowHeight>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content">
        <table class="full-width border-table">
          <tr>
            <th colspan="4" class="border-table">Proveedores</th>
          </tr>
          <tr>
            <td style="width: 40%" class="centered border-table">
              Lugar/Insumos
            </td>
            <td style="width: 20%" class="centered border-table">
              Capacidad de Negociación
            </td>
            <td style="width: 20%" class="centered border-table">Frecuencia</td>
            <td style="width: 20%" class="centered border-table">
              Forma de Pago
            </td>
          </tr>
          <tr *ngFor="let row of rows">
            <td>
              <!-- Text area por un inputa probar -->
              <textarea rows="1" class="full-width no-margin textarea" placeholder=""></textarea>
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="content">
        <table class="full-width border-table">
          <tr>
            <th colspan="4" class="border-table">Compradores</th>
          </tr>
          <tr>
            <td style="width: 40%" class="centered border-table">
              Clientes(*)
            </td>
            <td style="width: 20%" class="centered border-table">
              Capacidad de Negociación
            </td>
            <td style="width: 20%" class="centered border-table">Frecuencia</td>
            <td style="width: 20%" class="centered border-table">
              Forma de Pago
            </td>
          </tr>
          <tr *ngFor="let row of rows">
            <td>
              <input class="full-width no-margin" type="text" placeholder="" />
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
            <td>
              <select class="full-width">
                <option></option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="1" rowHeight="40px">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
      <div
        class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal"
      >
        <h2 class="texto-bold">7. ANÁLISIS DE FORTALEZAS Y DEBILIDADES</h2>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div>
    <p class="texto-bold">
      Fortalezas y Debilidades: ¿Qué factores positivos de su emprendimiento
      lograrán que la actividad tena éxito? (capacidades, habilidades, recursos,
      actividades positivas, otros) y ¿Cuales son sus debilidades?
    </p>
  </div>
  <div>
    <h3 class="texto-bold centered">
      DETERMINACIÓN DE FORTALEZAS Y DEBILIDADES
    </h3>
  </div>
  <div>
    <p>
      Primero identificamos si el item es Fortaleza o Debilidad y luego
      seleccionamos de acuerdo a la siguiente escala de calificación, el grado
      de impacto.
    </p>
  </div>
  <mat-grid-list [cols]="3" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <p>1: BAJA</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <p>2. MEDIA</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <p>3: ALTA</p>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="content">
    <table class="full-width border-table">
      <tr>
        <th colspan="2" class="border-table text-left">INFRAESTRUCTURA Y ADMINISTRACIÓN</th>
        <th colspan="1" class="border-table">FORTALEZAS</th>
        <th colspan="1" class="border-table">DEBILIDADES</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Infraestructura necesaria de acuerdo a lo se que necesita para el negocio</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue1')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue2')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Disponibilidad de Maquinaria y Equipos para la actividad</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue3')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue4')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="border-table text-left">RECURSOS HUMANOS</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Personal operativo con conocimientos suficientes para la actividad</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue5')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue6')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Personal administrativo eficiente</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue7')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue8')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="border-table text-left">ABASTECIMIENTO</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Disponibilidad de Insumos y Materia Prima en el mercado</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue9')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue10')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Existen distintas formas de pago a los proveedores</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue11')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue12')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="border-table text-left">OPERACIONES</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Conocimiento de la metodología adecuada para la atención y/o producción</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue13')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue14')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Calidad y garantía del Producto o Servicio</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue15')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue16')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          3.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Conocimiento del Propietario sobre la atención y/o producción e inventarios</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue17')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue18')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          4.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Conocimiento respecto al análisis permanente de costos/beneficios</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue19')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue20')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="border-table text-left">MERCADEO Y VENTAS</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Conocimiento del mercado y clientes a los que se les venderan</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue21')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue22')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Publicidad eficiente</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue23')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue24')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          3.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Precios Competitivos</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue25')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue26')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="border-table text-left">SERVICIO AL CLIENTE</th>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          1.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Distribución acorde a los requerimientos del cliente.</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue27')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue28')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          2.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Atención personalizada, Información total y oportuna al cliente</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue29')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue30')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td style="width: 5%" class="centered no-margin">
          3.-
        </td>
        <td style="width: 55%" class="centered no-margin">
          <p class="text-left">Servicio Post Venta</p>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue31')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
        <td style="width: 20%" class="centered border-table">
          <select class="full-width" (change)="onSelectChange($event, 'selectValue32')">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </td>
      </tr>
      <tr>
        <th colspan="2" class="border-table">PONDERACIÓN</th>
        <th colspan="1" class="border-table">
          <output id="ponderadoFortalezaOutput"></output>
        </th>
        <th colspan="1" class="border-table">
          <output id="ponderadoDebilidadOutput"></output>
        </th>
      </tr>
    </table>
  </div>
</div>
