<div class="container">
  <div class="content">
    <mat-grid-list cols="1" rowHeight="fit">
      <mat-grid-tile-header>
        <h1>PLAN DE NEGOCIO EMPRENDE BDP V.5.3</h1>
      </mat-grid-tile-header>
    </mat-grid-list>
    <mat-grid-list [cols]="colSize" rowHeight="600px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
          <div class="form__deudor" [formGroup]="form">
            <h2>Datos Deudor</h2>
            <mat-form-field class="nombre" appearance="fill">
              <mat-label>Nombre:</mat-label>
              <input matInput formControlName="nameDeudor" />
              <!-- <div *ngIf="form.get('nameDeudor')?.invalid && form.get('name')?.touched">
                <mat-error *ngIf="form.get('nameDeudor')?.errors?.['required']">El nombre es requerido.</mat-error>
              </div> -->
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Ci:</mat-label>
              <input matInput formControlName="ciDeudor" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Extensión:</mat-label>
              <input matInput formControlName="extensionDeudor" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Edad:</mat-label>
              <input matInput formControlName="edadDeudor" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Estado civil:</mat-label>
              <input matInput formControlName="EstadoCivilDeudor" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Telefono:</mat-label>
              <input matInput formControlName="telefonoDeudor" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Dirección:</mat-label>
              <input matInput formControlName="direccionDeudor" />
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="form__deudor" [formGroup]="form">
          <h2>Datos Codeudor</h2>
          <mat-form-field class="nombre" appearance="fill">
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nameCodeudor" />
            <!-- <div *ngIf="form.get('nameDeudor')?.invalid && form.get('name')?.touched">
              <mat-error *ngIf="form.get('nameDeudor')?.errors?.['required']">El nombre es requerido.</mat-error>
            </div> -->
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ci:</mat-label>
            <input matInput formControlName="ciCodeudor" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Extensión:</mat-label>
            <input matInput formControlName="extensionCodeudor" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Edad:</mat-label>
            <input matInput formControlName="edadCodeudor" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Estado civil:</mat-label>
            <input matInput formControlName="EstadoCivilCodeudor" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefono:</mat-label>
            <input matInput formControlName="telefonoCodeudor" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Dirección:</mat-label>
            <input matInput formControlName="direccionCodeudor" />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="form__deudor" [formGroup]="form">
          <h2>Persona jurídica</h2>
          <mat-form-field class="nombre" appearance="fill">
            <mat-label>Razón social:</mat-label>
            <input matInput formControlName="razonSocial" />
            <!-- <div *ngIf="form.get('nameDeudor')?.invalid && form.get('name')?.touched">
              <mat-error *ngIf="form.get('nameDeudor')?.errors?.['required']">El nombre es requerido.</mat-error>
            </div> -->
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>NIT:</mat-label>
            <input matInput formControlName="nit" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>SIGLA:</mat-label>
            <input matInput formControlName="sigla" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tipo y forma de sociedad Comercial:</mat-label>
            <input matInput formControlName="tipoFormaSociedadComercial" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Representante legal:</mat-label>
            <input matInput formControlName="representanteLegal" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Domicilio legal:</mat-label>
            <input matInput formControlName="domicilioLegal" />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="form__deudor" [formGroup]="form">
          <h2>Emprendimiento</h2>
          <mat-form-field class="nombre" appearance="fill">
            <mat-label>Actividad:</mat-label>
            <input matInput formControlName="actividad" />
            <!-- <div *ngIf="form.get('nameDeudor')?.invalid && form.get('name')?.touched">
              <mat-error *ngIf="form.get('nameDeudor')?.errors?.['required']">El nombre es requerido.</mat-error>
            </div> -->
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Departamento:</mat-label>
            <input matInput formControlName="departamento" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Municipio:</mat-label>
            <input matInput formControlName="municipio" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Teléfono:</mat-label>
            <input matInput formControlName="telefono" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Dirección:</mat-label>
            <input matInput formControlName="direccion" />
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="fit">
      <mat-grid-tile-header>
        <h2>1. DESCRIPCIÓN DEL PLAN DE NEGOCIO</h2>
      </mat-grid-tile-header>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="30px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="expand-tile">
        <div class="content">
          <p class="texto-negrita pdrch">Describa la actividad que quiere emprender</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <div class="content">
          <span class="texto-negrita pdrch">
            La actividad ya está funcionando,
          </span>
          <span>
            <mat-checkbox [formControl]="siControl" (change)="toggleCheckbox('si')">Si</mat-checkbox>
          </span>
          <span>
            <mat-checkbox [formControl]="noControl" (change)="toggleCheckbox('no')">No</mat-checkbox>
          </span>
          <span class="cuantoTiempoInicio">
            ¿Hace cuánto tiempo inició?
            <input type="number" class="meses" [disabled]="!tiempoInicioHabilitado" [(ngModel)]="miCampoNumerico">MESES
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="expand-tile" class="expand-tile">
        <div class="content">
          <p class="texto-negrita pdrch">¿Qué inversiones necesita par la actividad?</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="expand-tile" class="expand-tile">
        <div class="content">
          <p class="texto-negrita pdrch">Describa los motivos por la que el proyecto será rentable</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="3" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="fit">
      <mat-grid-tile-header>
        <h2>2. DESCRIPCIÓN DEL PRODUCTO O SERVICIO</h2>
      </mat-grid-tile-header>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile [colspan]="3" [rowspan]="1" class="expand-tile">
        <div class="content">
          <h3 class="texto-negrita pdrch">
            2. Descripción detallada del producto o servicio
          </h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1" class="expand-tile">
        <div class="content">
          <p class="pdrch">
            ¿Qué Producto(s) o Servicio(s) venderá, qué procesos necesita para
            su desarrollo y cuáles son sus características comerciales?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <p class="texto-negrita">Nombre del Producto o Servicio</p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <p class="texto-negrita">
          ¿Cuál es el proceso de elaboración del Producto o desarrollo del
          Servicio?¿Como lo hará?
        </p>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <p class="texto-negrita">
          Características Comerciales(presentación comercial, otros)
        </p>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1" class="expand-tile">
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"
        ><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea
            matInput
            class="example-full-width-textarea"
            placeholder=""
          ></textarea></mat-form-field
      ></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="40px" class="footer-grid">
      <mat-grid-tile class="footer">
        fecha 17-05-2023
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
