.contenedor{
  padding-top: 65px;
}
.custom-tile {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
}
.content{
  width: 100%;
  height: 100%;
}

.content-title{
  width: 100%;
  height: 40px;
  display: grid;
  align-items: center;
  background: #17365d;
}
.title{
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
}

.fondo__subtitlo{
  background-color: #17365d;
  color: #fff;
}
.fondo__subtitulo2{
  background-color: #dbe5f1;
}

.sizeMed {
  font-size: medium;
}

.subTitle{
  background-color: #dbe5f1;
  color: black;
}

.subTitle2{
  background-color: #f79646;
  color: #fff;
}

.subTitle3{
  background-color: #95b3d7;
  color: black;
}

.grid__centerVertical{
  display: grid;
  align-items: center;
}
.grid__centerhorizontal{
  justify-items: center;
}

.input-container2 {
  width: 100%;
}
.input-container2 input {
  width: 100%;
  box-sizing: border-box;
  background-color: #dbe5f1;
}

.input-container3 {
  width: 100%;
}
.input-container3 input {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.selectCostosSM{
  width: 100%;
  background-color: #f79646;
}