<div class="contenedor">
  <mat-grid-list [cols]="colSize" rowHeight="721px">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="custom-tile">
      <div class="content">
        <div class="content-title">
          <h2 class="title">9. PRESUPUESTO RESUMEN</h2>
        </div>
        <br>
        <table class="full-width">
          <tr>
            <th></th>
            <th colspan="1" class="border subTitle">APORTE PROPIO</th>
            <th colspan="1" class="border subTitle">MONTO TOTAL</th>
          </tr>
          <tr>
            <td style="width: 5%" rowspan="4" class="border">K.O.</td>
            <td style="width: 75%" class="border">Efectivo</td>
            <td style="width: 20%" class="border text-center">{{total}}</td>
          </tr>
          <tr>
            <td class="border">Mano de Obra del Emprendedor</td>
            <td class="border text-center">
              <output class="">{{manoObraEmprendedor}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">
              Materia Prima, Insumos y/o Animales de Engorde
            </td>
            <td class="border text-center">
              <output>{{materiaPrimaAP}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">Requerimientos Promocionales</td>
            <td class="border text-center">
              <output>{{requerimientosPromocionalesAP}}</output>
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="border">K.I.</td>
            <td class="border">Infraestructura, Terrenos y/o Plantines</td>
            <td class="border text-center">
              <output>{{infrTerrPlanAP}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">Maquinaria, Equipos, Vehículos y/o Ganado</td>
            <td class="border text-center">
              <output>{{maqEquVehAP}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">Requerimientos Legales</td>
            <td class="border text-center">
              <output>{{requerimientosLegalesAP}}</output>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="border">
              <p class="text-bold text-end">TOTAL</p>
            </td>
            <td class="border">
              <output class="text-bold">{{totalAP}}</output>
            </td>
          </tr>
        </table>
        <br>
        <table class="full-width">
          <tr>
            <th></th>
            <th class="border subTitle">PLAN DE INVERSIÓN</th>
            <th class="border subTitle">MONTO TOTAL</th>
            <th class="border subTitle">AP. PROPIO EFECTIVO</th>
          </tr>
          <tr>
            <td style="width: 5%" rowspan="3" class="border color-green">
              K.O.
            </td>
            <td style="width: 61%" class="border color-green">
              Gastos Operativos
            </td>
            <td style="width: 17%" class="border color-green text-center">
              <output>{{gastosOperativos}}</output>
            </td>
            <td style="width: 17%" class="border input-container">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(0)"
                  [(ngModel)]="inputValues[0]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="border color-green">
              Materia Prima, Insumos y/o Animales de Engorde
            </td>
            <td class="border color-green text-center">
              <output>{{materiaPrimaPI}}</output>
            </td>
            <td class="border">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(1)"
                  [(ngModel)]="inputValues[1]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="border color-green">Requerimientos Promocionales</td>
            <td class="border color-green text-center">
              <output>{{requerimientosPromocionalesPI}}</output>
            </td>
            <td class="border">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(2)"
                  [(ngModel)]="inputValues[2]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td rowspan="3" class="border color-rose">K.I.</td>
            <td class="border color-rose">
              Infraestructura, Terrenos y/o Plantines
            </td>
            <td class="border color-rose text-center">
              <output>{{infrTerrPlanPI}}</output>
            </td>
            <td class="border">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(3)"
                  [(ngModel)]="inputValues[3]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="border color-rose">
              Maquinaria, Equipos, Vehiculos y/o Ganado
            </td>
            <td class="border color-rose text-center">
              <output>{{maqEquVehPI}}</output>
            </td>
            <td class="border">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(4)"
                  [(ngModel)]="inputValues[4]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="border color-rose">Requerimientos Legales</td>
            <td class="border color-rose text-center">
              <output>{{requerimientosLegalesPI}}</output>
            </td>
            <td class="border">
              <div class="input-container">
                <input
                  type="number"
                  class="no-margin right-align"
                  (change)="calculateTotal(5)"
                  [(ngModel)]="inputValues[5]"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="border text-bold text-end">TOTAL</td>
            <td class="border text-center">
              <output class="text-bold">{{totalPI}}</output>
            </td>
            <td class="border">
              <output id="result" class="text-bold">{{ totalApPropioEfectivo | currency: 'BOB'}}</output>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="text-end color-red">
              <p *ngIf="showErrorMessage">AP. PROPIO EFECTIVO TOTAL tiene que ser igual EFECTIVO</p>
            </td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colSize2" [rowspan]="1" class="custom-tile">
      <div class="content">
        <br>
        <table class="full-width">
          <tr>
            <td style="width: 60%" class="border">TOTAL PROYECTO</td>
            <td style="width: 40%" class="border text-center">
              <output class="text-bold">{{totalProyecto}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">APORTE PROPIO</td>
            <td class="border text-center">
              <output class="text-bold">{{aportePropio}}</output>
            </td>
          </tr>
          <tr>
            <td class="border">% APORTE PROPIO</td>
            <td class="border text-center">
              <output class="text-bold">{{porcAportePropio | percent: '1.2-2' }}</output>
            </td>
          </tr>
          <tr>
            <th class="border color-yellow" colspan="2">
              APORTE PROPIO PARA GARANTIA HIPOTECARIO DEBE SER 10% Y PARA OTRA
              GARANTIA 20%
            </th>
          </tr>
        </table>
        <br>
        <table class="full-width">
          <tr>
            <td style="width: 60%" class="border">MONTO A FINANCIAR</td>
            <td style="width: 40%" class="border text-center">
              <output class="text-bold">bs. {{montoFinanciar}}</output>
            </td>
          </tr>
        </table>
        <br>
        <table class="full-width">
          <tr>
            <td style="width: 60%" class="border">Primer Desembolso</td>
            <td style="width: 40%" class="border">
              <div class="input-container">
                <input type="number" class="no-margin"
                (change)="addPrimerDesembolso()"
                [(ngModel)]="primerDesembolso"/>
              </div>
            </td>
          </tr>
          <tr>
            <td class="border">Segundo Desembolso</td>
            <td class="border">
              <div class="input-container">
                <input type="number" class="no-margin"
                (change)="addSegundoDesembolso()"
                [(ngModel)]="segundoDesembolso"/>
              </div>
            </td>
          </tr>
          <tr>
            <th class="border color-yellow" colspan="2">
              {{messageDesembolso}}
            </th>
          </tr>
        </table>
        <br>
        <table class="full-width">
          <tr>
            <th class="border color-yellow">{{messageApEfectivo}}</th>
          </tr>
        </table>
        <br>
        <p>
          Nota: Para montos mayores a Bs 70.000 las operaciones otorgadas con
          recursos del Fondo para Capital Semilla deberán ser realizadas
          mediante dos Desembolsos a excepción de aquellas operaciones cuyo plan
          de inversión solo comtempla un ítem de financiamiento.
        </p>
        <p></p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
