<div class="contenedor">
    <mat-grid-list [cols]="1" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
        <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
          <h2 class="texto-bold">INFORMACIÓN COMPLEMENTARIA</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil texto-bold">
            ¿A qué se dedica actualmente el emprendedor? ¿Qué ingresos tiene actualmente? ¿Cuánto son sus ingresos actuales?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""
        (change)="asignarValor('DedicacionEmprendedor', complementoDedicacionEmprendedor)"
          [(ngModel)]="complementoDedicacionEmprendedor"
        ></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil texto-bold">
            ¿Tiene deudas en otras entidades financieras? ¿Cuánto debe? ¿Cuánto es su cuota? ¿Para que fue el crédito?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""
        (change)="asignarValor('EntiFinancieras', complementoEntiFinancieras)"
          [(ngModel)]="complementoEntiFinancieras"
        ></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil texto-bold">
            ¿Qué experiencia o conocimiento tiene de la actividad que quiere iniciar?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""
        (change)="asignarValor('ExpAct', complementoExpAct)"
          [(ngModel)]="complementoExpAct"
        ></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil texto-bold">
            En caso de acceder al crédito ¿Cuál será la garantía que presentará?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""
        (change)="asignarValor('Garantia', complementoGarantia)"
          [(ngModel)]="complementoGarantia"
        ></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil texto-bold">
            Otros comentarios
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""
        (change)="asignarValor('Otros', complementoOtros)"
          [(ngModel)]="complementoOtros"
        ></textarea>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
