<div class="contenedor">
    <mat-grid-list [cols]="1" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
        <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
          <h2 class="texto-bold">3. ANALISIS DE MERCADO</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Quiénes serán los clientes que compraran su Producto o Servicio? (niños, jóvenes, adultos, edad, sexo, ocupación, estilo de vida, pasatiempo)
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Por qué cree que estos potenciales clientes compraran su Producto o Servicio? (fortalezas de los productos y servicios y la distintividad)
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Actualmente tiene relaciones con clientes potenciales? ¿Quiénes son?  ( Nuevos clientes, clientes potenciales, clientes frecuentes)
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            3.2. Tamaño del mercado que se quiere capturar y oportunidad de crecimiento, estimar el volumen o cantidad que se comercializara
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
        <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
          <h2 class="texto-bold">4. ANALISIS DE LA COMPETENCIA</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            4.1. Identificación de la competencia directa e indirecta
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Existen competidores cercanos al lugar donde se aperturará la nueva actividad? ¿quienes son? ¿donde se ubican?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Qué acciones realizará para hacerle frente a la competencia? ¿Qué acciones tomará para que los nuevos competidores no le afecten?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" class="custom-tile">
        <div class="content fondo__subtitlo grid__centerVertical grid__centerhorizontal">
          <h2 class="texto-bold">5. ESTRATEGIA DE MERCADO (4P`s: Producto , Precio, Plaza y Promoción)</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            5.1. Producto o Servicio
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Qué características del Producto o Servicio son beneficiosas para el cliente? ¿Qué es lo que mas valorará el cliente del Producto o Servicio? (facilidad, funcionalidad, saludable, otros)
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Cuál de los productos o Servicios generará mayor ingreso, cuál será el producto o servicio estrella?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            5.2. Precios
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Cuál será el precio del Producto o Servicio y cuál la forma de pago?
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="content fondo__subtitulo2 grid__centerVertical">
          <p class="text__mobil">
            ¿Cómo se ha determinado el precio del producto o Servicio? ¿Cuál será el costo para el consumidor?  (precio de mercado, cálculo de costos, otros)
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" class="expand-tile">
        <textarea class="custom-textarea" placeholder=""></textarea>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
