<mat-toolbar class="header">
  <div class="menu__opciones">
    <mat-button-toggle #menuButton [matMenuTriggerFor]="menuOptions">
      Menú
    </mat-button-toggle>
    <mat-menu #menuOptions="matMenu" [overlapTrigger]="false" (closed)="onMenuClosed()">
      <div class="vertical-menu">
        <button class="menu__button" mat-menu-item (click)="navigateTo(Tab.Home)" [class.selected-menu]="isSelected(Tab.Home)">
          <span class="label__button-navBar">Home</span>
        </button>

        <button class="menu__button" mat-menu-item (click)="navigateTo(Tab.Pregunta1)" [class.selected-menu]="isSelected(Tab.Pregunta1)">
          <span class="label__button-navBar">Pregunta 1</span>
        </button>

        <button class="menu__button" mat-menu-item (click)="navigateTo(Tab.Pregunta2)" [class.selected-menu]="isSelected(Tab.Pregunta2)">
          <span class="label__button-navBar">Pregunta 2</span>
        </button>

        <button class="menu__button" mat-menu-item (click)="navigateTo(Tab.Presupuesto)" [class.selected-menu]="isSelected(Tab.Presupuesto)">
          <span class="label__button-navBar">Presupuesto</span>
        </button>

        <button class="menu__button" mat-menu-item (click)="navigateTo(Tab.Complementario)" [class.selected-menu]="isSelected(Tab.Complementario)">
          <span class="label__button-navBar">Complementario</span>
        </button>
      </div>
    </mat-menu>

  </div>
  <span class="logo">GRUPO 4</span>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="navigateTo(Tab.Home)" [class.selected]="isSelected(Tab.Home)"><span class="label__button-navBar">Home</span></mat-button-toggle>
    <mat-button-toggle (click)="navigateTo(Tab.Pregunta1)" [class.selected]="isSelected(Tab.Pregunta1)"><span class="label__button-navBar">Pregunta 1</span></mat-button-toggle>
    <mat-button-toggle (click)="navigateTo(Tab.Pregunta2)" [class.selected]="isSelected(Tab.Pregunta2)"><span class="label__button-navBar">Pregunta 2</span></mat-button-toggle>
    <mat-button-toggle (click)="navigateTo(Tab.Presupuesto)" [class.selected]="isSelected(Tab.Presupuesto)"><span class="label__button-navBar">Presupuesto</span></mat-button-toggle>
    <mat-button-toggle (click)="navigateTo(Tab.Complementario)" [class.selected]="isSelected(Tab.Complementario)"><span class="label__button-navBar">Complementario</span></mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
