<mat-toolbar class="header">
  <div class="menu__opciones">
    <mat-button-toggle #menuButton [matMenuTriggerFor]="menuOptions">
      Menú
    </mat-button-toggle>
    <mat-menu #menuOptions="matMenu" [overlapTrigger]="false" (closed)="onMenuClosed()">
      <div class="vertical-menu">
        <button class="menu__button" mat-menu-item [routerLink]="['/', Tab.Home]" routerLinkActive="selected-menu">
          <span class="label__button-navBar">Home</span>
        </button>

        <button class="menu__button" mat-menu-item [routerLink]="['/', Tab.Pregunta1]" routerLinkActive="selected-menu">
          <span class="label__button-navBar">Pregunta 1</span>
        </button>

        <button class="menu__button" mat-menu-item [routerLink]="['/', Tab.Pregunta2]" routerLinkActive="selected-menu">
          <span class="label__button-navBar">Pregunta 2</span>
        </button>

        <button class="menu__button" mat-menu-item [routerLink]="['/', Tab.Presupuesto]" routerLinkActive="selected-menu">
          <span class="label__button-navBar">Presupuesto</span>
        </button>

        <button class="menu__button" mat-menu-item [routerLink]="['/', Tab.Complementario]" routerLinkActive="selected-menu">
          <span class="label__button-navBar">Complementario</span>
        </button>
      </div>
    </mat-menu>
  </div>
  <span class="logo">GRUPO 4</span>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle [routerLink]="['/', Tab.Home]" routerLinkActive="selected-menu"><span class="label__button-navBar">Home</span></mat-button-toggle>
    <mat-button-toggle [routerLink]="['/', Tab.Pregunta1]" routerLinkActive="selected-menu"><span class="label__button-navBar">Pregunta 1</span></mat-button-toggle>
    <mat-button-toggle [routerLink]="['/', Tab.Pregunta2]" routerLinkActive="selected-menu"><span class="label__button-navBar">Pregunta 2</span></mat-button-toggle>
    <mat-button-toggle [routerLink]="['/', Tab.Presupuesto]" routerLinkActive="selected-menu"><span class="label__button-navBar">Presupuesto</span></mat-button-toggle>
    <mat-button-toggle [routerLink]="['/', Tab.Complementario]" routerLinkActive="selected-menu"><span class="label__button-navBar">Complementario</span></mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
