.header{
  background-color: aqua;
}
.selected {
  background-color: #f00; /* Cambia el color de fondo al rojo */
  color: #fff; /* Cambia el color del texto a blanco */
  /* Otros estilos adicionales que desees aplicar */
}
