.header{
  background-color: rgb(20, 170, 170);
  position: fixed;
  z-index: 100;
}
.selected {
  background-color: rgb(0, 54, 191); /* Cambia el color de fondo al rojo */
  color: #fff; /* Cambia el color del texto a blanco */
  /* Otros estilos adicionales que desees aplicar */
}
.logo{
  padding-right: 20px;
}
